<ion-view view-title="Chat Lists" hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="chat in chats" ng-click="join('{{chat.name}}')">
        {{chat.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
