<ion-view title="Chat" cache-view="false">

  <ion-nav-buttons side="right">
   	<button class="button button-assertive" style="margin-right:5px;" ng-click="closeRoom()">Close</button>
    <button class="button button-assertive" ng-click="leaveRoom()">Leave</button>
  </ion-nav-buttons>

  <ion-content class="has-header padding" style=" margin-bottom: 50px !important;">

      <!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
      </ion-refresher> -->
	<div class="list" id="messages" ng-if="messages.length > 0">
    <div ng-repeat="message in messages" class="message-wrapper item-text-wrap" >
      <div style="text-align:center; font-style:italic;">
        {{message.status}}
      </div>
            <div ng-if="user._id !== message.senderId && message.status === ''">
                <img class="profile-pic left"
                    ng-src="{{message.photo}}" onerror="onProfilePicError(this)" />
                <div class="chat-bubble left">
                    <div class="message-detail">
                        <span class="bold">{{message.user}}</span>,
                        <span >{{ humanize(message.time) }}</span>
                    </div>
                    <div class="message" ng-bind-html="message.text" >
                    </div>
                </div>
            </div>
            <div ng-if="user._id === message.senderId && message.status === ''">
                  <img class="profile-pic right"
                    ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />
                  <div class="chat-bubble right">
                    <div class="message-detail">
                        <span class="bold">{{user.username}}</span>,
                        <span >{{ humanize(message.time) }}</span>
                    </div>
                    <div class="message" ng-bind-html="message.text" >
                    </div>
                  </div>
            </div>
          <div class="cf"></div>
    </div>
	</div>

	<div class="card" ng-if="!messages.length">
	  <div class="item item-text-wrap">
	    No messages yet.
	  </div>
	</div>

  </ion-content>


<footer class="bar bar-footer bar-positive item-input-inset has-content">
    <label class="item-input-wrapper">
      <input type="text" id="message" name="message" ng-model="message" placeholder="Type message">
    </label>
   	<a class="button button-icon icon ion-android-send" ng-click="sendTextMessage()"></a>
</footer>

</ion-view>
