<ion-view view-title="Create Post" cache-view="false">
  <form name="signup_form" novalidate ng-submit="newPost()">
  <ion-content scroll="false">
    <div class="" >
    <div class="item item-avatar">
      <img ng-src="{{photo}}">
      <h2>{{name}}</h2>
    </div>
      <div class="item item-body">
        <label class="item item-input">
          <textarea style="min-height: 50px;" placeholder="Input message here" ng-model="postData.message" required></textarea>
        </label>

      </div>
    <!-- <div id="map"  style="display:block; height:50%; position:relative; top:50%; width:100%;" data-tap-disabled="true"></div> -->
    <div id="map" style="width:100%; height:450px;">
    </div>
    <!-- <div  style="width:100%; height:450px;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d76745.68912879367!2d100.44898850254528!3d13.727361070177382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d6032280d61f3%3A0x10100b25de24820!2z4LiB4Lij4Li44LiH4LmA4LiX4Lie4Lih4Lir4Liy4LiZ4LiE4Lij!5e0!3m2!1sth!2sth!4v1483937389187" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div> -->
  </div>
  </ion-content>
  <ion-footer-bar class="">
    <div class="button-bar">
      <button class="button button-positive" ng-click="cancel()">Cancel</button>
      <button class="button button-positive" type="submit" ng-disabled="signup_form.$invalid">Post</button>
    </div>
  </ion-footer-bar>
  </form>
</ion-view>
