<ion-view view-title="HOME" hide-nav-bar="true" class="home-page" >
  <ion-content  scroll="false" class="bg-login">
  <div style="text-align: center; margin-top:40px;">
    <img src="./img/logo.jpg" />
  </div>

      <form ng-submit="doLogin()">
      <div class="list padding">

        <label class="item item-input">
          <span class="input-label">ID</span>
          <input type="text" placeholder="AU Member ID" ng-model="loginData.id">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="AU Member PW" ng-model="loginData.password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">
          Log In
        </button>
      </div>
      </form>

      <!-- <div style="text-align: center;">
        <button class="button register-email-btn" ng-click="register()">REGISTER</button>
        <button class="button register-fb-btn" ng-click="LoginwithFacebook()">FACEBOOK</button>
      </div> -->
  </ion-content>
</ion-view>
