<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" enable-menu-with-back-views="false">
    <ion-content>
      <div style="text-align:center;margin-top:10px;margin-bottom:10px;">
        <img style="
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;" ng-src="{{loginData.photo}}" />
    <!-- <button class="button button-light icon ion-gear-a" style="position: absolute;right: 0;" ></button> -->
        <h4 style="color:#000000">{{loginData.name}}</h4>
      </div>
      <ion-list>
        <ion-item menu-close href="#/app/posts">
          <i class="ion-ios-paperplane-outline"></i> Posts
        </ion-item>
        <ion-item menu-close href="#/app/create">
          <i class="ion-ios-compose-outline"></i> Create New Post
        </ion-item>
        <ion-item menu-close href="#/app/chats">
          <i class="ion-ios-chatbubble"></i> Chat Lists
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          <i class="ion-log-out"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
