<ion-view view-title="<i class='ion-ios-compose-outline'></i> Posts" hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list can-swipe="true">
      <!-- แสดงเฉพาะที่ post_status = 1 คือยังไม่ปิด post -->
      <ion-item ng-repeat="post in posts"  ng-if="post.post_status==1" class="item item-avatar item-button-right item-text-wrap" style="padding-right:0;" ng-click="join('{{post.name}}', '{{post.post_id}}')" >
        <img ng-src="{{post.photo}}">
        <h2>{{post.name}}</h2>
        <p style="font-style:italic;">{{post.created_time }} ({{humanize(post.created_time)}})</p>
        <div style="color:#000000;">{{post.message}}</div>
        <ion-option-button class="button-assertive" ng-click="removeItem($index, post.post_id)">
          Delete
        </ion-option-button>
        <button class="button button-positive">
          Chat
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
